Exercise: Manipulating Data Types in Python
In the "main.py" notebook, perform the following tasks. Given the following table employees, create three new columns containing the start Year, Month and Day from the column StartDate.

Hint: Once correctly formatted into a date-time format, information from a date column can be extracted as follows:

df['Month'] = df['Date'].dt.month
If you get stuck, refer to "main_solved.py" to help with coding in "main.py."

Note: To complete this activity click the Submit/Mark button in the bottom right corner. These activities are for your own practice in a coding environment and are not assessed. If you have any questions about an activity, please ask your facilitator in a live session or on the Discussion board.

In [1]:
import unittest
import pandas as pd
from datetime import datetime

employees = pd.DataFrame({
    'EmployeeID': [1, 2, 3],
    'Name': ['Fred', 'Ming', 'Peter'],
    'Age': [55, 32, 25],
    'Department': ['Finance', 'Marketing', 'Product'],
    'Gender': ['Male', 'Female', 'Male'],
    'StartDate': ['01-01-2010', '05-08-2023', '16-11-2015'],
})

for x in range(len(employees)):
    datetimeObj = datetime.strptime(employees.at[x, 'StartDate'], '%d-%m-%Y')
    employees.at[x, 'Year'] = datetimeObj.year
    employees.at[x, 'Month'] = datetimeObj.month
    employees.at[x, 'Day'] = datetimeObj.day

employees = employees.astype({'Year': 'int', 'Month': 'int', 'Day': 'int'})

print(employees)

   EmployeeID   Name  Age Department  Gender   StartDate  Year  Month  Day
0           1   Fred   55    Finance    Male  01-01-2010  2010      1    1
1           2   Ming   32  Marketing  Female  05-08-2023  2023      8    5
2           3  Peter   25    Product    Male  16-11-2015  2015     11   16